<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body  class="main-body">
<nav th:replace="~{layout :: navigation}"></nav>
<header th:replace="~{layout :: header('Region Index')}"></header>
<main>
    <div class="grid-container">
        <form class="filter" th:attr="action=@{/region/index}" method="get">
            <input type="text" name="name" placeholder="City..." th:attr="value=${searchName}">
            <button class="blue-button" type="submit">Search</button>
        </form>
        <a class="blue-button create-button" th:href="@{/region/upsert-form}">Insert New Region</a>
        <table>
            <thead>
            <tr>
                <th>Action</th>
                <th>City</th>
                <th>Remark</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row : ${dataGrid}" th:object="${row}">
                <td>
                    <a class="blue-button" th:href="@{/region/upsert-form(id=*{id})}">Edit</a>
                    <a class="blue-button" th:href="@{/region/detail(id=*{id})}">Salesman</a>
                    <a class="blue-button" th:href="@{/region/delete(id=*{id})}">Delete</a>
                </td>
                <td th:text="*{city}"></td>
                <td th:text="*{remark}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <div class="pagination">
                        <div th:text="|Page ${currentPage} of ${totalPage}|"></div>
                        <div th:if="${totalPage != 0}">
                            <a th:each="loop:${#numbers.sequence(1,totalPage)}"
                               th:text="${loop}"
                               th:href="@{/region/index(page=${loop}, name=${searchName})}"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="~{layout :: footer}"></footer>
<th:block th:replace = "~{layout :: javascript}"></th:block>

</body>
</html>